header(ng-controller="main")
  h1.logo fourtrack
  .username
  nav
    {{currentUser.username}}
    a(href="/") home
    a(href="/profile") profile
    a(href="#", id="logout", ng-click="logout()") logout
