@import 'bourbon';
@import 'neat';


$tablet: new-breakpoint(max-width 850px 12);
$mobile: new-breakpoint(max-width 650px 12);

$header-height: 2.8em;
$footer-height: 2.5em;

$main-font: 'Oswald', sans-serif;

$bg-light: mistyrose;
$bg-dark: navy;

$light-font-color: mistyrose;
$dark-font-color: black;

$link-color: gold;
$link-hover: goldenrod;

// -------------------------- main styling --------------------------
body {
  background-color: whitesmoke;
  font-family: $main-font;
  font-weight: lighter;
  text-align: center;
  text-shadow: 1px 1px 1px gray;
  padding-top: $header-height + .5em;
  color: $dark-font-color;
  padding-bottom: $footer-height + 1em;
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: $link-color;
}
a:hover {
  color: $link-hover;
}

.mixer{
  height: 0;
  overflow: hidden;
}
