@import 'bourbon';
@import 'neat';

$header-height: 2.8em;

$main-font: 'Quattrocento', sans-serif;


$light-font-color: mistyrose;
$dark-font-color: black;

$link-color: gold;
$link-hover: goldenrod;
