@import 'base';

// -------------------------- signup forms --------------------------
form{
  position: relative;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 2em;
}

input{
  width: 100%;
  border: none;
  border-radius: .5em;
  margin-top: .5em;
  height: 1.5em;
  cursor: pointer;
}
button{
  margin-top: .5em;
  width: 100%;
  border: none;
  border-radius: .5em;
  background-color: salmon;
  text-shadow: 1px 1px 1px firebrick;
}

// -------------------------- header -------------------------

header{
  position: fixed;
  text-align: left;
  padding-left: 1em;
  width: 100%;
  height: $header-height;
  top: 0;
  margin: 0;
  z-index: 1000;
  box-shadow: 0px 1px 1px dimgray;
  @include linear-gradient(dodgerblue, cornflowerblue);
  *{
    display: inline-block;
  }
  h1{
    top: 0;
  }
  .username{
    color: $light-font-color;
    margin-left: 1em;
    font-weight: lighter;
  }
  nav{
    position: absolute;
    top: .7em;
    right: 1em;
  }
  nav a{
    text-decoration: none;
    margin-left: .5em;
  }
  #logout{
    color: firebrick;
  }
  #logout:hover{
    color: red;
  }
}

// -------------------------- song stuff -------------------------

.ul{
  @include row();
}
.song{
  .song-info{
    text-align: left;
      .artist {font-weight: bold; font-size: 1.2em;}
      .album {font-style: italic;}
      .song-title {}
  }
  position: relative;
  background-color: gray;
  padding: .5em;
  margin-bottom: 1em;
  img{
    width: 100%;
  }
}

// -------------------------- player -------------------------

.controls{
  height: $footer-height;
  background-color: $bg-dark;
  position: fixed;
  z-index: 1000;
  width: 100%;
  bottom: 0;
  #play-pause{
    position: absolute;
    margin: 0;
    left: 0.5em;
    height: 80%;
    width: $footer-height - 0.8em;
    top: 15%;
  }
  #play-pause svg{
    stroke: snow;
    fill: snow;
    cursor: pointer;
  }
  #progress-bar{
    position: absolute;
    left: 3em;
    width: 90%;
    height: 5%;
    top: 45%;
    background-color: snow;
    cursor: pointer;
  }
  #playhead{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: deeppink;
  }
}
