@import 'base';

// -------------------------- signup forms --------------------------
form{
  position: relative;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 2em;
}

input{
  width: 100%;
  border: none;
  border-radius: .5em;
  margin-top: .5em;
  height: 1.5em;
  cursor: pointer;
}

// -------------------------- song stuff -------------------------

.song-list{
  padding: 0em 0.5em;
  li:last-child{
    margin-bottom: $footer-height + .5em;
  }
}
.song{
  position: relative;
  background-color: $bg-medium;
  padding: .5em;
  margin-bottom: 1em;

  @include span-columns(3);
  @include omega(4n);
  @include media($tablet){
    @include span-columns(6);
    @include omega(2n);
  }
  @include media($mobile){
    @include span-columns(12);
    @include omega();
  }
  .song-info{
    text-align: left;
      .artist {font-weight: bold; font-size: 1.2em;}
      .album {font-style: italic;}
      .song-title {}
  }
  .slider-container{
    height: 90%;
    width: 20%;
    display: inline-block;
  }
  img{
    width: 100%;
  }
  .mix-it{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 3.5em;
    height: 3.5em;
    border-radius: 0.1%;
    padding: 0;
    background-color: $mixer-button-color;
    background-image: url('/images/mixer.png');
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    border: none;
  }
  .mix-it:hover{
    cursor: pointer;
  }
  .mixer{
  }
}

.invisible{
  display: none;
}
