@import 'base';

// -------------------------- signup forms --------------------------
form{
  position: relative;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 2em;
}

input{
  width: 100%;
  border: none;
  border-radius: .5em;
  margin-top: .5em;
  height: 1.5em;
  cursor: pointer;
}

// -------------------------- header -------------------------

header{
  background-color: $bg-dark;
  color: $color-main;
  position: fixed;
  text-align: left;
  padding-left: 1em;
  width: 100%;
  height: $header-height;
  top: 0;
  margin: 0;
  z-index: 1000;
  box-shadow: 0px 1px 1px dimgray;
  *{
    display: inline-block;
  }
  h1{
    top: 0;
  }
  .username{
    color: $light-font-color;
    margin-left: 1em;
    font-weight: lighter;
  }
  nav{
    position: absolute;
    top: .7em;
    right: 1em;
  }
  nav a{
    text-decoration: none;
    margin-left: .5em;
  }
  #logout{
    color: firebrick;
  }
  #logout:hover{
    color: red;
  }
}

// -------------------------- player / footer -------------------------

.controls{
  background-color: $bg-dark;
  color: $color-main;
  height: $footer-height;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  @include span-columns(12);
  @include omega();
  #play-pause{
    margin: 0;
    height: $footer-height;
    top: 15%;
    @include span-columns(1);
    @include omega(2n);
  }

  #play-pause svg{
    height: 100%;
    width: 100%;
    stroke: $color-main;
    fill: $color-main;
    cursor: pointer;
    display: none;
  }

  svg *{
    stroke: $color-main;
    fill: $color-main;
  }

  #progress-bar{
    margin-top: $footer-height * 0.4;
    height: 20%;
    background-color: snow;
    cursor: pointer;
    @include span-columns(10);
    @include omega(2n);
  }
  #playhead{
    height: 100%;
    width: 100%;
    background-color: $color-main;
  }
}


// -------------------------- song stuff -------------------------

.ul{
  @include row();
}
.song{
  @include span-columns(3);
  @include omega(4n);
  @include media($tablet){
    @include span-columns(6);
    @include omega(2n);
  }
  @include media($mobile){
    @include span-columns(12);
    @include omega();
  }
  .song-info{
    text-align: left;
      .artist {font-weight: bold; font-size: 1.2em;}
      .album {font-style: italic;}
      .song-title {}
  }
  .slider-container{
    height: 90%;
    width: 20%;
    display: inline-block;
  }
  position: relative;
  background-color: gray;
  padding: .5em;
  margin-bottom: 1em;
  img{
    width: 100%;
  }
  .mix-it{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: $link-color;
    border: none;
  }
  .mix-it:hover{
    background-color: $link-hover;
  }
}
