@import 'base';

// -------------------------- signup forms --------------------------

.welcome *{
  margin-bottom: .5em;
  @include span-columns(8);
  @include shift(2);
  @include media($mobile){
    @include span-columns(12);
    @include shift(0);
  }
}

.welcome p{
  text-align: left;
}

form{
  margin-top: 3em;
}

button{
  border: none;
  border-radius: .5em;
  background-color: $link-color;
}

input{
  border: none;
  border-radius: .5em;
  height: 2em;
}

button:hover{
  background-color: $link-hover;
}
