doctype html
html(ng-app="fourtrackClient")
  head
    title fourtrack
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/2.5.0/rzslider.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Molengo")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/main.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js", charset="utf-8")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.min.js", charset="utf-8")
    script(src="https://code.angularjs.org/1.4.9/angular-cookies.js", charset="utf-8")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/2.5.0/rzslider.min.js", charset="utf-8")
    script(src="/js/service/playhead.js", charset="utf-8")
    script(src="/js/service/mixer.js", charset="utf-8")
    script(src="/js/service/usersApi.js", charset="utf-8")
    script(src="/js/service/songsApi.js", charset="utf-8")
    script(src="/js/controllers/login.js", charset="utf-8")
    script(src="/js/controllers/profile.js", charset="utf-8")
    script(src="/js/controllers/main.js", charset="utf-8")
    script(src="/js/app.js", charset="utf-8")
    script(src="/js/howler.js", charset="utf-8")
    script(src="/js/scripts.js", charset="utf-8")
    block head
  body
    block content
