extends base

block content
  include ./includes/header
  .container(ng-controller="main")
      
    ul.song-list
      li(ng-repeat="song in allSongs").song
        .song-info
          .artist {{song.artist}}
          .album {{song.albumTitle}}
          .song-title {{song.songTitle}}
        .mix-it(ng-click="loadMixer($event)")
        img(src="{{song.artwork}}")
        section.mixer
          .slider-container
            rzslider(rz-slider-model="verticalSlider[3].value", rz-slider-options="verticalSlider[3].options")
            .label {{song.audio.track01.label}}
          .slider-container
            rzslider(rz-slider-model="verticalSlider[2].value", rz-slider-options="verticalSlider[2].options")
            .label {{song.audio.track02.label}}
          .slider-container
            rzslider(rz-slider-model="verticalSlider[1].value", rz-slider-options="verticalSlider[1].options")
            .label {{song.audio.track03.label}}
          .slider-container
            rzslider(rz-slider-model="verticalSlider[0].value", rz-slider-options="verticalSlider[0].options")
            .label {{song.audio.track04.label}}
        
    .controls
      #play-pause(ng-click="playPause()")
        svg(id="play", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", version="1.1", x="0px", y="0px", viewBox="0 0 100 100", enable-background="new 0 0 100 100", xml:space="preserve")
          path(d="M85.2,47.7L20.6,6.5c-5.3-3.3-9.5-1-9.5,5.2V88c0,6.2,4.4,8.8,9.8,5.8l63.9-34.7C90.1,56,90.3,50.9,85.2,47.7z")
        svg(id="pause", width="100%", height="100%", viewBox="0 0 220 345", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", xmlns:sketch="http://www.bohemiancoding.com/sketch/ns")
            g(id="Page-1", stroke="none", stroke-width="1", fill="none", fill-rule="evenodd", sketch:type="MSPage")
                g(id="Group", sketch:type="MSLayerGroup", transform="translate(0.000000, 30.000000)", stroke-width="60", stroke-linecap="round", stroke-linejoin="round")
                    path(d="M30,0.5 L30,284.50705", id="Line", sketch:type="MSShapeGroup")
                    path(d="M190,0.5 L190,284.50705", id="Line-Copy", sketch:type="MSShapeGroup")
                    
      #progress-bar
        #playhead
