doctype html
html(ng-app="mixyClient")
  head
    title mixy
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/styles.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js", charset="utf-8")
    script(src="https://code.angularjs.org/1.4.9/angular-cookies.js", charset="utf-8")
    script(src="/js/service/usersApi.js", charset="utf-8")
    script(src="/js/service/songsApi.js", charset="utf-8")
    script(src="/js/controllers/login.js", charset="utf-8")
    script(src="/js/controllers/main.js", charset="utf-8")
    script(src="/js/app.js", charset="utf-8")
    script(src="/js/scripts.js", charset="utf-8")
    
  body(ng-controller="main")
    h1 mixy
    h1 hello
    h1 HI {{currentUser.username}}
    
    form(id="createSong", ng-submit="createSong()")
      input(type="text", ng-model="newSong.artist", placeholder="artist")
      input(type="text", ng-model="newSong.songTitle", placeholder="song title")
      input(type="text", ng-model="newSong.albumTitle", placeholder="album title")
      input(type="text", ng-model="newSong.audio.track01", placeholder="track01")
      input(type="text", ng-model="newSong.audio.track02", placeholder="track02")
      input(type="text", ng-model="newSong.audio.track03", placeholder="track03")
      input(type="text", ng-model="newSong.audio.track04", placeholder="track04")
      input(type="text", ng-model="newSong.artwork", placeholder="artwork")
      button(type="submit") add song
    
    div where is this?
    ul
      li(ng-repeat="song in allSongs")
        div ??? {{song.artist}}
        div ??? {{song.songTitle}}
        div ??? {{song.albumTitle}}
