extends base

block content
  include ./includes/header
  .container(ng-controller="main")
    h1 HI {{currentUser.username}}
      
    .mixer
    .controls
    
    h1 songs:
    ul
      li(ng-repeat="song in allSongs").song
        div ARTIST: {{song.artist}}
        div ALBUM: {{song.albumTitle}}
        div SONG: {{song.songTitle}}
        //- div(ng-directive="playlist") SONG: {{song.songTitle}}
        img(src="{{song.artwork}}")
        button this will be a play button some day
        button(ng-click="loadMixer($event)") MIX THIS SONG
        //- button(ng-click="loadMixer($event)") MIX THIS SONG
