extends base

block content
  include ./includes/header
  .container(ng-controller="main")
    h1 HI {{currentUser.username}}
    
    .expander
      h1 ADD A SONG!
        form(id="createSong", ng-submit="createSong()")
          input(type="text", ng-model="newSong.artist", placeholder="artist")
          input(type="text", ng-model="newSong.songTitle", placeholder="song title")
          input(type="text", ng-model="newSong.albumTitle", placeholder="album title")
          input(type="text", ng-model="newSong.audio.track01", placeholder="track01")
          input(type="text", ng-model="newSong.audio.track02", placeholder="track02")
          input(type="text", ng-model="newSong.audio.track03", placeholder="track03")
          input(type="text", ng-model="newSong.audio.track04", placeholder="track04")
          input(type="text", ng-model="newSong.artwork", placeholder="artwork")
          button(type="submit") add song
