html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background-color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-align: center;
  text-shadow: 1px 1px 1px gray;
  padding-top: 2.8em;
  color: black; }

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: gold; }

a:hover {
  color: goldenrod; }

.mixer {
  height: 0;
  overflow: hidden; }

form {
  position: relative;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 2em; }

input {
  width: 100%;
  border: none;
  border-radius: .5em;
  margin-top: .5em;
  height: 1.5em;
  cursor: pointer; }

button {
  margin-top: .5em;
  width: 100%;
  border: none;
  border-radius: .5em;
  background-color: salmon;
  text-shadow: 1px 1px 1px firebrick; }

.controls * {
  position: relative;
  display: inline-block;
  margin-left: 1em;
  font-size: 2em;
  cursor: pointer; }

header {
  position: fixed;
  text-align: left;
  padding-left: 1em;
  width: 100%;
  height: 2.8em;
  top: 0;
  margin: 0;
  z-index: 1000;
  box-shadow: 0px 1px 1px dimgray;
  background-color: dodgerblue;
  background-image: -webkit-linear-gradient(dodgerblue, cornflowerblue);
  background-image: linear-gradient(dodgerblue, cornflowerblue); }
  header * {
    display: inline-block; }
  header h1 {
    top: 0; }
  header .username {
    color: mistyrose;
    margin-left: 1em;
    font-weight: lighter; }
  header nav {
    position: absolute;
    top: .7em;
    right: 1em; }
  header nav a {
    text-decoration: none;
    margin-left: .5em; }
  header #logout {
    color: firebrick; }
  header #logout:hover {
    color: red; }

.ul {
  display: block; }
  .ul::after {
    clear: both;
    content: "";
    display: table; }

.song {
  position: relative;
  background-color: gray;
  padding: .5em;
  margin-bottom: 1em; }
  .song .song-info {
    text-align: left; }
    .song .song-info .artist {
      font-weight: bold;
      font-size: 1.2em; }
    .song .song-info .album {
      font-style: italic; }
  .song img {
    width: 100%; }
