html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background-color: whitesmoke;
  font-family: "Molengo", sans-serif;
  font-weight: lighter;
  text-align: center;
  padding-top: 3.3em;
  color: black;
  margin-bottom: 3.5em; }

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #FF7F9D; }

a:hover {
  color: #F10038; }

.mixer {
  height: 0;
  overflow: hidden; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

header {
  background-color: aquamarine;
  color: black;
  position: fixed;
  text-align: left;
  padding-left: 1em;
  width: 100%;
  height: 2.8em;
  top: 0;
  margin: 0;
  z-index: 1000;
  box-shadow: 0px 1px 1px dimgray; }
  header * {
    display: inline-block; }
  header h1 {
    top: 0; }
  header .username {
    color: mistyrose;
    margin-left: 1em;
    font-weight: lighter; }
  header nav {
    position: absolute;
    top: .7em;
    right: 1em; }
  header nav a {
    text-decoration: none;
    margin-left: .5em; }
  header #logout {
    color: crimson; }
  header #logout:hover {
    color: firebrick; }

.controls {
  background-color: aquamarine;
  color: black;
  height: 2.5em;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0; }
  .controls:last-child {
    margin-right: 0; }
  .controls #play-pause {
    margin: 0;
    height: 2em;
    margin-top: .3em;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%; }
    .controls #play-pause:last-child {
      margin-right: 0; }
    .controls #play-pause:nth-child(2n) {
      margin-right: 0; }
    .controls #play-pause:nth-child(2n+1) {
      clear: left; }
  .controls #play-pause svg {
    height: 100%;
    width: 100%;
    stroke: black;
    fill: black;
    cursor: pointer;
    display: none; }
  .controls svg * {
    stroke: black;
    fill: black; }
  .controls #progress-bar-container {
    height: 100%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .controls #progress-bar-container:last-child {
      margin-right: 0; }
    .controls #progress-bar-container:nth-child(2n) {
      margin-right: 0; }
    .controls #progress-bar-container:nth-child(2n+1) {
      clear: left; }
    .controls #progress-bar-container #now-playing {
      height: 1.3em;
      width: 100%;
      position: relative;
      display: block;
      margin: 0;
      text-align: left; }
    .controls #progress-bar-container #progress-bar {
      position: relative;
      display: block;
      width: 100%;
      height: 20%;
      background-color: snow;
      cursor: pointer; }
    .controls #progress-bar-container #playhead {
      height: 100%;
      width: 100%;
      background-color: black; }

.song-list li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%; }
  .song-list li:last-child {
    margin-right: 0; }
  @media screen and (max-width: 650px) {
    .song-list li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .song-list li:last-child {
        margin-right: 0; } }

.song-list .album-art {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-right: 0; }
  .song-list .album-art:last-child {
    margin-right: 0; }

.song-list .song-info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-right: 0; }
  .song-list .song-info:last-child {
    margin-right: 0; }

.song-list img {
  width: 100%; }

.song-list .song-info {
  padding-left: 1em; }

.song-list .control-panel {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
  margin-right: 0; }
  .song-list .control-panel:last-child {
    margin-right: 0; }
  .song-list .control-panel .edit {
    color: dodgerblue; }
  .song-list .control-panel .edit:hover {
    color: cornflowerblue; }
  .song-list .control-panel .delete {
    margin-left: .5em;
    color: crimson; }
  .song-list .control-panel .delete:hover {
    color: firebrick; }
