html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background-color: whitesmoke;
  font-family: futura;
  font-weight: lighter;
  text-align: center;
  text-shadow: 1px 1px 1px gray; }

ul {
  list-style: none; }

form {
  position: relative;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 2em; }

input {
  width: 100%;
  border: none;
  border-radius: .5em;
  margin-top: .5em;
  height: 1.5em;
  cursor: pointer; }

button {
  margin-top: .5em;
  width: 100%;
  border: none;
  border-radius: .5em;
  background-color: salmon;
  text-shadow: 1px 1px 1px firebrick; }

.controls * {
  position: relative;
  display: inline-block;
  margin-left: 1em;
  font-size: 2em;
  cursor: pointer; }

.song {
  position: relative;
  width: 30%;
  left: 35%;
  background-color: gray;
  padding: .5em;
  border-radius: .5em; }
  .song img {
    width: 100%; }

.expander {
  width: 60%; }
  .expander .expander-trigger {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #DDD;
    color: #477DCA;
    cursor: pointer;
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    padding-bottom: 0.25em;
    text-decoration: none; }
    .expander .expander-trigger:before {
      font-size: 0.7em;
      content: "\25BC";
      margin-right: 0.5em; }
  .expander .expander-content p {
    color: #333;
    line-height: 1.5em; }
  .expander .expander-hidden:before {
    font-size: 0.7em;
    content: "\25BA"; }
  .expander .expander-hidden + .expander-content {
    display: none; }
